## 1.Data Preprocessing and EDA:

### 1.1. data cleaning and handling missing values

In [70]:
import pandas as pd
df = pd.read_csv('booksummaries.txt' , sep='\t' , header=None)

df.head()

,0,1,2,3,4,5,6
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,NaN,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...

In [71]:
df.rename(columns={0:'id' , 2:'name' , 3:'author' , 4:'publish_year' , 6:'summary'} , inplace=True)

In [72]:
#df = df.drop(columns=[1 , 5] , axis=1)
df.rename(columns={1:'txt' , 5:'genre'} , inplace=True)

In [48]:
df.head()

,id,txt,name,author,publish_year,genre,summary
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,NaN,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...

In [49]:
df.dtypes

id               int64
txt             object
name            object
author          object
publish_year    object
genre           object
summary         object
dtype: object

In [73]:
import ast

def extract_genres(genre_str):
    if isinstance(genre_str, str):  # Check if the input is a string
        genre_dict = ast.literal_eval(genre_str.replace('\\', ''))
        return list(genre_dict.values())
    return []  # Return an empty list for NaN or non-string values

# Apply the function to the genre column
df['genre_names'] = df['genre'].apply(extract_genres)
#print(df[['genre_names']])

In [51]:
df.shape

(16559, 8)

In [52]:
print(df.isna().sum())

id                 0
txt                0
name               0
author          2382
publish_year    5610
genre           3718
summary            0
genre_names        0
dtype: int64

In [62]:
x =df.groupby(['author']).count()
x

,id,txt,name,publish_year,genre,summary,genre_names
author,,,,,,,
'Asta Bowen,1,1,1,1,1,1,1
A. A. Attanasio,2,2,2,2,2,2,2
A. A. Milne,2,2,2,2,2,2,2
A. E. W. Mason,2,2,2,2,2,2,2
A. E. van Vogt,11,11,11,10,11,11,11
...,...,...,...,...,...,...,...
Élisabeth Vonarburg,1,1,1,1,1,1,1
Émile Gaboriau,1,1,1,0,1,1,1
Émile Zola,16,16,16,15,15,16,16
Ólafur Jóhann Ólafsson,4,4,4,0,0,4,4
ʻAlāʼ Aswānī,1,1,1,0,1,1,1

In [66]:

y = df[df['author'] == 'A. E. van Vogt']
y

,id,txt,name,author,publish_year,genre,summary,genre_names
1248,544984,/m/02nl0d,The World of Null-A,A. E. van Vogt,1948,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...","Gilbert Gosseyn, a man living in an apparent ...","[Science Fiction, Speculative fiction, Novel]"
1392,623749,/m/02xt8n,The Voyage of the Space Beagle,A. E. van Vogt,1950,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",The main protagonist of the novel is Dr. Elli...,"[Science Fiction, Speculative fiction]"
1819,911169,/m/03p460,Slan,A. E. van Vogt,1946,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...","Slans are evolved humans, named after their a...","[Science Fiction, Speculative fiction, Fantasy..."
2262,1234613,/m/04kt1k,The Weapon Shops of Isher,A. E. van Vogt,1951,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",The Weapon Shops of Isher and its sequel The ...,"[Science Fiction, Speculative fiction, Fiction..."
9315,9917470,/m/02pwzyt,Children of Tomorrow,A. E. van Vogt,1970,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",Commander John Lane returns from a ten year m...,"[Science Fiction, Speculative fiction]"
10297,12216391,/m/02vw602,Rogue Ship,A. E. van Vogt,1965,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",Rogue Ship is a standalone novel in a form of...,"[Science Fiction, Speculative fiction]"
11814,16277049,/m/03wft1q,The Book of Ptath,A. E. van Vogt,1947,"{""/m/06n90"": ""Science Fiction""}",The novel concerns a tank-battle casualty rei...,[Science Fiction]
12090,17076520,/m/0417hwz,Empire of the Atom,A. E. van Vogt,1957,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",The novel concerns adventures of a mutant gen...,"[Science Fiction, Speculative fiction]"
12579,18558694,/m/04g0rtf,The Silkie,A. E. van Vogt,NaN,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...","The novel has four sections, each consisting ...","[Science Fiction, Speculative fiction]"
13722,21829284,/m/05pbwlf,The Universe Maker,A. E. van Vogt,1953,"{""/m/06n90"": ""Science Fiction"", ""/m/05hgj"": ""N...","Morton Cargill, Korean War soldier, accidenta...","[Science Fiction, Novel]"
14424,24107193,/m/07k57z7,The Wizard of Linn,A. E. van Vogt,1962,"{""/m/06n90"": ""Science Fiction""}",A war between humanity and an extraterrestria...,[Science Fiction]

In [74]:
import pandas as pd

# Sample DataFrame


def fill_missing_years(df):
    # Iterate over rows with missing 'publish_year'
    for index, row in df[df['publish_year'].isnull()].iterrows():
        author = row['author']
        # Find the first non-null publish_year for the same author
        matching_year = df.loc[(df['author'] == author) & (df['publish_year'].notnull()), 'publish_year']
        
        if not matching_year.empty:
            # Fill the missing publish_year with the found year
            df.at[index, 'publish_year'] = matching_year.iloc[0]

# Call the function
fill_missing_years(df)

# Verify the changes
print(df)

             id         txt  \
0           620     /m/0hhy
1           843     /m/0k36
2           986     /m/0ldx
3          1756     /m/0sww
4          2080     /m/0wkt
...         ...         ...
16554  36934824  /m/0m0p0hr
16555  37054020  /m/04f1nbs
16556  37122323  /m/0n5236t
16557  37132319  /m/0n4bqb1
16558  37159503   /m/073nkd

                                                    name              author  \
0                                            Animal Farm       George Orwell
1                                     A Clockwork Orange     Anthony Burgess
2                                             The Plague        Albert Camus
3              An Enquiry Concerning Human Understanding          David Hume
4                                   A Fire Upon the Deep        Vernor Vinge
...                                                  ...                 ...
16554                                     Under Wildwood         Colin Meloy
16555                                  Transfer of Power         Vince Flynn
16556                                            Decoded               Jay-Z
16557  America Again: Re-becoming The Greatness We Ne...     Stephen Colbert
16558                                          Poor Folk  Fyodor Dostoyevsky

      publish_year                                              genre  \
0       1945-08-17  {"/m/016lj8": "Roman \u00e0 clef", "/m/06nbt":...
1             1962  {"/m/06n90": "Science Fiction", "/m/0l67h": "N...
2             1947  {"/m/02m4t": "Existentialism", "/m/02xlf": "Fi...
3              NaN                                                NaN
4             1981  {"/m/03lrw": "Hard science fiction", "/m/06n90...
...            ...                                                ...
16554   2012-09-25                                                NaN
16555   2000-06-01   {"/m/01jfsb": "Thriller", "/m/02xlf": "Fiction"}
16556   2010-11-16                       {"/m/0xdf": "Autobiography"}
16557   2012-10-02                                                NaN
16558         1846  {"/m/02ql9": "Epistolary novel", "/m/014dfn": ...

                                                 summary  \
0       Old Major, the old boar on the Manor Farm, ca...
1       Alex, a teenager living in near-future Englan...
2       The text of The Plague is divided into five p...
3       The argument of the Enquiry proceeds by a ser...
4       The novel posits that space around the Milky ...
...                                                  ...
16554   Prue McKeel, having rescued her brother from ...
16555   The reader first meets Rapp while he is doing...
16556   The book follows very rough chronological ord...
16557   Colbert addresses topics including Wall Stree...
16558   Makar Devushkin and Varvara Dobroselova are s...

                                             genre_names
0      [Roman u00e0 clef, Satire, Children's literatu...
1      [Science Fiction, Novella, Speculative fiction...
2      [Existentialism, Fiction, Absurdist fiction, N...
3                                                     []
4      [Hard science fiction, Science Fiction, Specul...
...                                                  ...
16554                                                 []
16555                                [Thriller, Fiction]
16556                                    [Autobiography]
16557                                                 []
16558            [Epistolary novel, Speculative fiction]

[16559 rows x 8 columns]

In [75]:
df

,id,txt,name,author,publish_year,genre,summary,genre_names
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca...","[Roman u00e0 clef, Satire, Children's literatu..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan...","[Science Fiction, Novella, Speculative fiction..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...,"[Existentialism, Fiction, Absurdist fiction, N..."
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...,[]
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,1981,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...,"[Hard science fiction, Science Fiction, Specul..."
...,...,...,...,...,...,...,...,...
16554,36934824,/m/0m0p0hr,Under Wildwood,Colin Meloy,2012-09-25,NaN,"Prue McKeel, having rescued her brother from ...",[]
16555,37054020,/m/04f1nbs,Transfer of Power,Vince Flynn,2000-06-01,"{""/m/01jfsb"": ""Thriller"", ""/m/02xlf"": ""Fiction""}",The reader first meets Rapp while he is doing...,"[Thriller, Fiction]"
16556,37122323,/m/0n5236t,Decoded,Jay-Z,2010-11-16,"{""/m/0xdf"": ""Autobiography""}",The book follows very rough chronological ord...,[Autobiography]
16557,37132319,/m/0n4bqb1,America Again: Re-becoming The Greatness We Ne...,Stephen Colbert,2012-10-02,NaN,Colbert addresses topics including Wall Stree...,[]
16558,37159503,/m/073nkd,Poor Folk,Fyodor Dostoyevsky,1846,"{""/m/02ql9"": ""Epistolary novel"", ""/m/014dfn"": ...",Makar Devushkin and Varvara Dobroselova are s...,"[Epistolary novel, Speculative fiction]"

In [76]:

y = df[df['author'] == 'A. E. van Vogt']
y

,id,txt,name,author,publish_year,genre,summary,genre_names
1248,544984,/m/02nl0d,The World of Null-A,A. E. van Vogt,1948,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...","Gilbert Gosseyn, a man living in an apparent ...","[Science Fiction, Speculative fiction, Novel]"
1392,623749,/m/02xt8n,The Voyage of the Space Beagle,A. E. van Vogt,1950,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",The main protagonist of the novel is Dr. Elli...,"[Science Fiction, Speculative fiction]"
1819,911169,/m/03p460,Slan,A. E. van Vogt,1946,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...","Slans are evolved humans, named after their a...","[Science Fiction, Speculative fiction, Fantasy..."
2262,1234613,/m/04kt1k,The Weapon Shops of Isher,A. E. van Vogt,1951,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",The Weapon Shops of Isher and its sequel The ...,"[Science Fiction, Speculative fiction, Fiction..."
9315,9917470,/m/02pwzyt,Children of Tomorrow,A. E. van Vogt,1970,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",Commander John Lane returns from a ten year m...,"[Science Fiction, Speculative fiction]"
10297,12216391,/m/02vw602,Rogue Ship,A. E. van Vogt,1965,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",Rogue Ship is a standalone novel in a form of...,"[Science Fiction, Speculative fiction]"
11814,16277049,/m/03wft1q,The Book of Ptath,A. E. van Vogt,1947,"{""/m/06n90"": ""Science Fiction""}",The novel concerns a tank-battle casualty rei...,[Science Fiction]
12090,17076520,/m/0417hwz,Empire of the Atom,A. E. van Vogt,1957,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",The novel concerns adventures of a mutant gen...,"[Science Fiction, Speculative fiction]"
12579,18558694,/m/04g0rtf,The Silkie,A. E. van Vogt,1948,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...","The novel has four sections, each consisting ...","[Science Fiction, Speculative fiction]"
13722,21829284,/m/05pbwlf,The Universe Maker,A. E. van Vogt,1953,"{""/m/06n90"": ""Science Fiction"", ""/m/05hgj"": ""N...","Morton Cargill, Korean War soldier, accidenta...","[Science Fiction, Novel]"
14424,24107193,/m/07k57z7,The Wizard of Linn,A. E. van Vogt,1962,"{""/m/06n90"": ""Science Fiction""}",A war between humanity and an extraterrestria...,[Science Fiction]